{% extends "base.html" %}
{% block content %}
<div class="home-container">
    <div class="brand-block">
        <h1>{{ t('LepkO') }}</h1>
        <p>{{ t('Servis') }}</p>
        <a href="/upgrade?lang={{ lang }}">{{ t('upgrade_link') }} 🚀</a>
        <a href="#">{{ t('activate_key') }}</a>
    </div>
    <div class="tools-block">
        <a href="/drop?lang={{ lang }}" class="tool-link">
            <h2>{{ t('Drop') }}</h2>
            <p>{{ t('drop_description') }}</p>
        </a>
        <a href="/pad?lang={{ lang }}" class="tool-link">
            <h2>{{ t('Chat') }}</h2>
            <p>{{ t('pad_description') }}</p>
        </a>
    </div>
</div>
{% endblock %}